@import "../const.css";

.content{
    height: 100rem;
    margin: auto;
}

@media only screen and (max-width: 700px) {
    .content{
    }
}

@media only screen and (min-width: 700px) {
    .content{
        width: 100%;
    }
}

@media only screen and (min-width: 1100px) {
    .content{
        width: 70%;
    }
}