/* HALLO */
@import "const.css";

html{
    font-size: var(--remSize);
}
body{
    overflow-x: hidden;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.b{
    /* for testing */
    border: 1px dashed white;
    padding: 1px;
    margin: 1px;
}
